<h1>Add a Movie</h1>
<% if @movie.errors.any? %>
  <h2>You got an error</h2>
  <ul>
    <% @movie.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with(model: @movie, local: true, data: { turbo: false }) do |f| %>
  <p>
    <%= f.label :title, "Enter a title" %><br/>
    <%= f.text_field :title %>
  </p>

  <p>
  <%= f.label :director, "Enter a director" %><br/>
  <%= f.text_field :director %>
</p>

<p>
<%= f.label :release_year, "Enter a release_year" %><br/>
<%= f.text_field :release_year %>
</p>




<%= f.collection_check_boxes(:genre_ids, Genre.order(:name), :id, :name) %>

  <p>
  <%= f.submit %>
</p>
<% end %>